@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }
  .nav-link {
    padding: .5rem 0;
  }
  .navbar-toggler {
    margin-top: .5rem;
  }
  .navbar-brand {
    text-align: left;
  }
}

.logo {
  max-width: 4rem;
  height: auto;
  margin-left: auto;
}

.brand{
  text-align: left;
}

.navbar {
  background-color: rgb(48, 35, 24, 0.7);
  position:fixed;
  z-index: 4;
  left:0;
  right:0;
  --bs-navbar-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-hover-color: lightgray;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.right {
  flex-grow: 0 !important;
}