.form h1 {
    margin-bottom: 2rem;
}

.steptitle {
    font-size: 30px;
}

.progressbar,
.progressValues {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

.progresselement {
    padding: 0.5rem 1.7rem;
}

.progresselement i {
    font-size: 20px;
    
}

.formfooter button {
    margin: 20px 0;
    background-color: #C39D63;
    padding: 0.55rem 1.55rem;
    font-size: large;
    margin-right: 20px;
    border: none;
    color: white;
}

.formfooter button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

select {
    padding: 10px 20px;
}