/* .row .col p {
    margin: 0;
} */

.reservationTime {
    width: 50%
}

.reservationTimeRow {
    margin-bottom: 10px;
}

.reservationTime button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 8px;
    height: 5.5rem;
    width: 6.5rem;
}

.reservationTime button:hover {
    background-color: #C39D63;
    color: white;
}

.reservationTime .selected {
    background-color: #C39D63;
    color: white;
  }