.personalInfoContainer {
    width: 30%;
}

.personalInfoRow {
    margin-bottom: 1rem;
}

.col {
    text-align: right !important;
}

.personalInfoRow input {
    padding: 5px;
}

@media only screen and (max-width: 1200px) {
    .personalInfoContainer {
        width: 40%;
    }
}


@media only screen and (max-width: 991.5px) {
    .personalInfoContainer {
        width: 50%;
    }
}