.row {
    margin-top: 5rem;
}

.restaurantImage {
    width: 80%;
}

.button {
    text-decoration: none;
    background-color: #C39D63;
    padding: 0.75rem 2.55rem;
    font-size: large;
    color: white;
}

.button:hover {
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.justify {
    text-align: justify;
}

.persona {
    width: 100px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.stars {
    color: #D4AF37;
}

.emptystar {
    color: #E6C9A6;
}

.opinions p {
    text-align: left;
}

.personaName {
    text-align: center !important;
    font-weight: 500;
}

hr {
    width: 50%;
    margin: 10px auto;
    color: #C39D63;
}

.reviews {
    font-size: 23px;
    color:#C39D63;
    font-weight: 500;
}

@media only screen and (max-width: 991.5px) {
    .opinions,
    .row {
        display: contents;
    }

    .row img,
    .row h3,
    .reviews  {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 540px) {
    iframe {
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width: 330px) {
    iframe {
        width: 250px;
        height: 250px;
    }
}