@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }
  .nav-link {
    padding: .5rem 0;
  }
  .navbar-toggler {
    margin-top: .5rem;
  }
  .navbar-brand {
    text-align: left;
  }
}

.right {
  float: right;
  text-align: center;
}

.logo {
  max-width: 4rem;
  height: auto;
  margin-left: auto;
}

.brand{
  text-align: left;
}

.navbar {
  background-color: rgb(48, 35, 24, 0.7);
  position:fixed;
  z-index: 4;
  left:0;
  right:0;
}

.navbar {
  --bs-navbar-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-hover-color: lightgray;
}

.right {
  flex-grow: 0 !important;
}